output/
checkpoint/
checkpoint1/
.idea
project/target
project/project
target/*
*.pyc
*.csv
*.xml
*.sc
.DS_Store
.scalafmt.conf
src/main/resources/CSV/*
src/main/resources/InternetAccessUsageCP/*
src/main/scala/ir/brtech/transform/playground/*
.DS_Store
src/test/resources/project/*
src/test/resources/target/*
target/*
*.crc
src/main/resources/*
!src/main/resources/InternetAccessUsageCSV
!src/main/resources/Tables
!src/main/resources/*.conf
!src/main/resources/*.properties

